{% include 'partials/header_econ.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>List Cubes</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Dates: <span id="dateLabel1">01/01/2000</span> - <span id="dateLabel2">01/12/2020</span></label>
        </div>
        <div class="col-md-6"></div>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div id="stacked-area" class="col-md-8"></div>
        <div class="col-md-2"></div>
    </div>


    {% load static %}
    <script src="{% static 'scripts/statscan_js/plot_milk_products.js' %}"></script>
    <script>
        var productData = {{ data | safe }};
        var commodities = {{ commodities | safe }};
        var parseTime = d3.timeParse("%d/%m/%Y");
        var formatTime = d3.timeFormat("%d/%m/%Y");
        var transTime = function(){ return d3.transition().duration(100); }
        var stackedArea;

        // capitalize First Letter
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        stackedArea = new StackedArea("#stacked-area", 700, 1000, commodities);
    </script>

{% include 'partials/footer_econ.html' %}
