{% include 'partials/header_econ.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>List Cubes</h1>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>Dates: <span id="dateLabel1">01/01/2000</span> - <span id="dateLabel2">01/12/2020</span></label>
        </div>
        <div class="col-md-6"></div>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div id="stacked-bar" class="col-md-8"></div>
        <div class="col-md-2"></div>
    </div>


    {% load static %}
    <script src="{% static 'scripts/statscan_js/plot_milk_products.js' %}"></script>
    <script>
        var commData = {{ data2 | safe }};
        var productData = {{ data | safe }};
        var commodities = {{ commodities | safe }};
        var geo = {{ geo | safe }};
        var parseTime = d3.timeParse("%d/%m/%Y");
        var formatTime = d3.timeFormat("%d/%m/%Y");
        var transTime = function(){ return d3.transition().duration(100); }
        var stackedBar;

        var date1 = parseTime($("#dateLabel1").text());
        var date2 = parseTime($("#dateLabel2").text());
        var selectedCommodity = "Wheybutter";
        var commodityData = d3.nest()
            .key(function(d){ return d.Commodity.replace(/ /g, ''); })
            .entries(productData.filter(function(d) {
                return (d.date >= date1 && d.date <= date2 && d.GEO != 'Canada');
            }));

        function selectData() {
            for (i=0; i < commodityData.length; i++) {
                if (commodityData[i]['key'] === selectedCommodity) {
                    //console.log("HELLO", commodityData[i]['values']);
                    return commodityData[i]['values'];
                }
            }
        }

        selectedData2 = JSON.parse(commData['Whey butter']);
        selectedData = selectData();
        //console.log('selectedData', selectedData2);

        // capitalize First Letter
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        stackedBar = new StackedBar("#stacked-bar", 700, 1000, geo);
    </script>

{% include 'partials/footer_econ.html' %}
